body {
  margin: 0;
}
.header {
  background-color: #4ea0ff;
  background-image: url(../img/pattern.png);
  background-position: center;
  padding-top: 50px;
  padding-left: 10px;
}
.logo {
  width: 250px;
}
main {
  padding: 10px;
}
h1 {
  font-size: 75px;
  margin-bottom: 10px;
}
.credits {
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  color: #9d9d9d;
  margin-top: 10px;
}
.link {
  color: rgb(6, 145, 214);
  text-decoration: none;
}
figure {
  margin-left: 0px;
  text-align: justify;
}
section {
  font-size: 23px;
}
table {
  table-layout: fixed;
}
.tabhead {
  background-color: #4ea0ff;
  color: white;
  text-align: left;
}
.tabcolor {
  background-color: #b1e6f2;
}
